@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
}

.header {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(0, 62, 62);
    color: white;
}

.header img {
    max-height: 60px;
    width: auto;
    border-radius: 100px;
}

.grid {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    align-self: center;
}

.row {
    display: flex;
}

.square {
    background-color: rgb(255, 255, 255);
}
.square:hover {
    background-color: rgb(52, 40, 40);
}

.options {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#colorbtn:hover, #clear:hover {
    background-color: rgb(186, 186, 99);
}

#colorbtn {
    padding: 0;
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 136);
    font-weight: bold;
    font-size: 15px;
}

.slidecontainer {
    text-align: center;
    padding: 0;
    margin-top: 5px;
}

#size-title {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#clear {
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 136);
    font-weight: bold;
    font-size: 20px;
}
